.message {
    margin: 4px;
}

.console {
    margin: 4px;
    padding: 8px;
    background-color: #212529;
    border-radius: 4px;
    overflow-y: auto;
    height: 100%;

    pre {
        white-space: pre-wrap;
        line-height: 1.2rem;
    }
}

.text {
    color: #f7f7f7;
}

.primary {
    color: #6ea8fe;
}

.success {
    color: #75b798;
}

.danger {
    color: #ea868f;
}

.warning {
    color: #ffda6a;
}

.info {
    color: #6edff6;
}